@use '../../global/color.scss' as *;
@use '../../global/text-style.scss' as *;

.onboard {
  background-color: $color-background;
  width: 393px;
  height: 852px;
  min-height: 852px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 33px;
  box-sizing: border-box;

  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 33px;

  &__container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__snowman {
    margin-bottom: 54px;
  }

  &__image {
    width: 155px;
    height: 188px;
    object-fit: contain;
  }

  &__materials_slide {
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    margin-bottom: 32px;
  }

  &__materials {
    display: flex;
    align-items: center;
    gap: 41px;
    margin-bottom: 32px;
  }

  &__material {
    width: 80px;
    height: 80px;

    object-fit: contain;

    &:hover {
      transform: translateY(-5px);
      opacity: 1;
    }
  }

  &__button {
    width: 100%;
    max-width: 320px;
    margin-bottom: 10px;
  }

  &__signup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  &__text {
    @include text-style($text-pretendard-14);
    color: $color-black;
  }

  &__link {
    @include text-style($text-pretendard-14);
    color: $color-black;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-550px);
  }
}