@use '../../global/color.scss' as *;
@use '../../global/text-style.scss' as *;
@use '../../global/align.scss' as *;

.nickname-input {
  min-height: 100vh;
  background-color: $color-background;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0, 20;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  } 

  &__visual {
    margin-top: 98px; 
    position: relative;
    width: 100%;
    height: auto;

    .text {
      position: relative;
      margin-top: 13px;
      margin-left: 41px;
      margin-bottom: 55px;
      font-family: 'dandan', sans-serif;
      font-size: 24px;
      color: $color-black;
      z-index: 10;
    }

    .snowman {
      position: absolute;
      top: -44px;
      left: 240px;
      
      width: 107px;
      height: 169px;
      
      transform: rotate(1.73deg);
      
      z-index: 1; 
    }
  }

 &__input-container {
  margin-left: 32px;

    input {
      background-color: $color-white;
      font-family: 'pretendard', sans-serif;
      font-size: 16px;
      color: $color-black;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    margin-top: 280px;
  }
}