@use '../global/text-style' as *;
@use '../global/color' as *;

%button-sizing {
  height: 45px;
  border-radius: 15px;
  border: none;
  outline: none;
  @include text-style($text-dandan-20);
}

.button-large {
  width: 300px;
  @extend %button-sizing;
  background-color: $color-main;
  color: white;
  cursor: pointer;
}

.button-large-blue {
  width: 300px;
  @extend %button-sizing;
  background-color: $color-blue-middle;
  color: white;
  cursor: pointer;
}

.button-disabled {
  width: 300px;
  @extend %button-sizing;
  background-color: $color-gray-600;
  color: $color-gray-800;
  cursor: not-allowed;
}

.button-small {
  width: 90px;
  @extend %button-sizing;
  background-color: $color-main;
  color: white;
  cursor: pointer;
}
