@use '../global/text-style' as ts;
@use '../global/color' as c;

%button-sizing {
  height: 45px;
  border-radius: 15px;
  border: none;
  outline: none;
  @include ts.text-style(ts.$text-dandan-20);
}

.button-large {
  width: 300px;
  @extend %button-sizing;
  background-color: c.$color-main;
  color: white;
}

.button-large-blue {
  width: 300px;
  @extend %button-sizing;
  background-color: c.$color-blue-middle;
  color: white;
}

.button-disabled {
  width: 300px;
  @extend %button-sizing;
  background-color: c.$color-gray-600;
  color: c.$color-gray-800;
}

.button-small {
  width: 90px;
  @extend %button-sizing;
  background-color: c.$color-main;
  color: white;
}
