@use '../../global/color.scss' as *;
@use '../../global/text-style.scss' as * ;

.snowman{
    min-height: 100vh;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 54px;
    text-align: center;
    padding : 294px, 24px, 40px;

    &__image {
        width: 138px;
        height: 171px;
    }
    &__title {
        @include text-style($text-dandan-subtitle);
        font-weight: $font-weight-bold;
        color: $color-black;
    }
}