@use '../../global/color.scss' as *;
@use '../../global/align.scss' as *;
@use '../../global/text-style.scss' as *;

.guide-background {
  @extend %align-column-center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.guid-step {
  position: fixed;
  z-index: 20;
  color: $color-white;
  @include text-style($text-pretendard-24-600);

  width: fit-content;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.guide-wrapper {
  padding: 15px 20px 40px;
}

.guide-focus {
  position: fixed;
  z-index: 99;
  top: 121px;
  left: 22.2px;
  right: 24.2px;
  background-color: transparent;
}
