@use '../../global/color.scss' as *;
@use '../../global/align.scss' as *;
@use '../../global/text-style.scss' as *;

.guide-background {
  @extend %align-column-center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.guid-step {
  position: fixed;
  z-index: 20;
  color: $color-white;
  @include text-style($text-pretendard-24-600);

  width: fit-content;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.guide-focus {
  position: absolute;
  z-index: 99;

  background-color: transparent;
}

.guide-line {
  background-color: $color-main;
  position: absolute;
  height: 100px;
  width: 1.5px;
  z-index: 99;
  right: 31px;
  top: 44px;
}

.step-1 {
  .text-bubble-wrapper {
    left: 0;
    right: 0;
    top: 560px;
  }
  .guide-focus {
    top: 116px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.step-2 {
  .text-bubble-wrapper {
    left: 0;
    right: 0;
    top: 540px;
  }

  .guide-focus {
    top: 608px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
  }
}

.step-3 {
  .text-bubble-wrapper {
    top: 140px;
    right: 15px;
  }

  .guide-focus {
    @extend %align-column-center;
    top: 10px;
    right: 15px;
    padding: 5px;
    border-radius: 50%;
    background-color: $color-background;
    // border: 1.5px solid $color-main;
  }
}

.step-4 {
  .text-bubble-wrapper {
    left: 0;
    right: 0;
    top: 610px;
  }

  .guide-focus {
    top: 650px;
    left: 0;
    right: 0;
    width: 100%;
  }
}
