@use '../../global/color' as *;
@use '../../global/text-style' as *;
@use '../../global/align' as *;

.text-bubble-wrapper {
  @extend %align-column-center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
}

.text-bubble {
  background-color: $color-main;
  color: $color-white;
  width: fit-content;
  border-radius: 10px;
  padding: 6px 20px;
  @include text-style($text-pretendard-14);
  text-align: center;
}

.arrow-bottom {
  width: 0;
  height: 0;

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid transparent;

  border-top: 9px solid $color-main;
}

.arrow-top {
  width: 0;
  height: 0;

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid transparent;

  border-bottom: 9px solid $color-main;
}

.step-1 {
  .text-bubble-wrapper {
    top: 560px;
  }
  .guide-focus {
    top: 121px;
    left: 22.2px;
    right: 24.2px;
  }
}

.step-2 {
  .text-bubble-wrapper {
    top: 540px;
  }

  .guide-focus {
    top: 599px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
  }
}
