@use '../../global/color.scss' as *;
@use '../../global/text-style.scss' as *;

.login {
  min-height: 100vh;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &_container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    box-sizing: border-box;
  }

  &_field {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &:first-child &_label {
      margin-top: 60px;
    }
  }

  &_label {
    @include text-style($text-pretendard-14);
    color: $color-black;
    margin-bottom: 15px;
  }

  &_input-row {
    display: flex;
    align-items: center;
    gap: 15px;

    .textfield-large {
      flex: 1;
      min-width: 0;
    }
  }

  &_password-wrapper {
    position: relative; 
    display: flex;
    align-items: center;
    width: 100%;

    .textfield-large {
      width: 100%;
      padding-right: 45px;
      box-sizing: border-box;
    }
  }

  &_toggle {
    position: absolute;
    right: 15px;
    top: 50%; 
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition: opacity 0.2s;
    z-index: 10;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  &_button {
    display: flex;
    justify-content: center;
    margin-top: 240px;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
  }
}