%align-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%align-column-center {
  @extend %align-row-center;
  flex-direction: column;
}

%align-space-between {
  display: flex;
  justify-content: space-between;
}

%flex-row {
  display: flex;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}
