/*-----------
color style
-----------*/

$color-main: #fe7700;
$color-main-middle: #fdb029;

$color-blue-light: #dce7ff;
$color-blue-middle: #7cbdf6;

$color-background: #fffbf8;

$color-white: #ffffff;
$color-gray-200: #f0f0f0;
$color-gray-400: #e1e1e1;
$color-gray-600: #aeaeae;
$color-gray-800: #575757;
$color-black: #000000;

$color-negative: #ff4949;
$color-negative-light: #ffd3d3;
$color-positive: #12ce66;
$color-positive-bright: #c9f2d1;

$color-theme-red: #e34234;
$color-theme-gold: #ffc845;
$color-theme-green: #2e7d32;
$color-theme-silver: $color-gray-600;
$color-theme-navy: #2f4f9f;

$color-kakao: #fee500;
