@use 'sass:map';

@font-face {
  font-family: 'pretendard';
  src: url('/assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'pretendard';
  src: url('/assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'dandan';
  src: url('../../assets/fonts/OkDanDan-Bold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'OmuDaye';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}

/*---------
text style
---------*/

$font-family-pretendard: 'pretendard', sans-serif;
$font-family-dandan: 'dandan', sans-serif;
$font-family-default: $font-family-pretendard;
$font-family-omudaye: 'OmuDaye', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-45: 45px;

$text-pretendard-12: (
  font-family: $font-family-pretendard,
  font-size: $font-size-12,
  font-weight: $font-weight-regular,
);

$text-pretendard-14: (
  font-family: $font-family-pretendard,
  font-size: $font-size-14,
  font-weight: $font-weight-regular,
);

$text-pretendard-14-600: (
  font-family: $font-family-pretendard,
  font-size: $font-size-14,
  font-weight: $font-weight-bold,
);

$text-pretendard-16: (
  font-family: $font-family-pretendard,
  font-size: $font-size-16,
  font-weight: $font-weight-regular,
);

$text-pretendard-16-600: (
  font-family: $font-family-pretendard,
  font-size: $font-size-16,
  font-weight: $font-weight-bold,
);

$text-pretendard-20: (
  font-family: $font-family-pretendard,
  font-size: $font-size-20,
  font-weight: $font-weight-regular,
);

$text-pretendard-24-600: (
  font-family: $font-family-pretendard,
  font-size: $font-size-24,
  font-weight: $font-weight-bold,
);

$text-dandan-20: (
  font-family: $font-family-dandan,
  font-size: $font-size-20,
  font-weight: $font-weight-regular,
);

$text-dandan-title1: (
  font-family: $font-family-dandan,
  font-size: $font-size-45,
  font-weight: $font-weight-bold,
);

$text-dandan-title2: (
  font-family: $font-family-dandan,
  font-size: $font-size-30,
  font-weight: $font-weight-regular,
);

$text-dandan-subtitle: (
  font-family: $font-family-dandan,
  font-size: $font-size-24,
  font-weight: $font-weight-regular,
);

$text-omudaye-16: (
  font-family: $font-family-omudaye,
  fontsize: $font-size-16,
  font-weight: $font-weight-regular,
);

$text-omudaye-24: (
  font-family: $font-family-omudaye,
  font-size: $font-size-24,
  font-weight: $font-weight-regular,
);

@mixin text-style($style-map) {
  font-family: map.get($style-map, font-family);
  font-size: map.get($style-map, font-size);
  font-weight: map.get($style-map, font-weight);
  line-height: auto;
}
