@use '../global/text-style.scss' as *;
@use '../global/color.scss' as *;
@use '../global/align.scss' as *;

.snowman-wrapper {
  width: fit-content;
  @extend %align-column-center;
  margin: 0 40px 100px;
  cursor: pointer;
}

.snowman-name {
  @include text-style($text-dandan-subtitle);
  // -webkit-text-stroke: 0.7px $color-white;

  &.red {
    color: $color-theme-red;
  }

  &.green {
    color: $color-theme-green;
  }

  &.gold {
    color: $color-theme-gold;
  }

  &.silver {
    color: $color-theme-silver;
  }

  &.navy {
    color: $color-theme-navy;
  }
}
