@use './global/color.scss' as *;
@use './global/text-style.scss' as *;
@use './global/align.scss' as *;

.inputmessage {
  display: flex;
  flex-direction: column;
  background-color: $color-background;

  &__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 63px;
  }

  .message-theme {
    position: relative;
    width: 100%;
    max-width: 320px;
    aspect-ratio: 3 / 4.5;

    .theme-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .theme-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .theme-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .message-to {
            margin-top: 52px;
            font-size: 24px;
        }
        
        .message-input-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 252px;
            height: 240px;

            
        .message-textarea {
                width: 100%;
                height: auto; 
                
                max-height: 100%; 
                
                margin-top: 21px;
                background: transparent;
                border: none;
                outline: none;
                
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: left;
                
                overflow-y: auto; 
                resize: none;

                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 3px;
                }
            }
            .message-count {
                    align-self: flex-end;
                    font-size: 12px;
                    color: #888;
                    margin-top: 4px;
                    margin-right: 4px;
                }
            }
        }
          .theme-bottom {
        margin-bottom: 51px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .message-from {
            
            font-size: 24px;
        }
      }
  }
    .button {
        justify-content: center;
    }
    }
}