@use './global/color.scss';
@use './global/text-style.scss';
@use './global/align.scss';

@use './example.scss';
@use './components/button.scss';

@use './components/guide/textbubble.scss';
@use './components/guide/guide.scss';

@use './components/home/share-button.scss';

@use './othersHome.scss';
@use './message/category.scss';
@use './message/snowman.scss';
@use './message/message-detail.scss';
@use './pages/message/message.scss';

html {
  background-color: #fffbf8;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
