@use './global/color.scss';
@use './global/text-style.scss';

@use './example.scss';
@use './components/button.scss';

@use './components/guid/textbubble.scss';

html {
  background-color: #fffbf8;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
