@use './global/color.scss';
@use './global/text-style.scss';

@use './example.scss';

html {
  background-color: #fffbf8;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
