@use './global/color.scss' as *;
@use './global/text-style.scss' as *;
@use './global/align.scss' as *;

.others-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__content {
    margin-top: 338px;
    z-index: 10;
    text-align: center;

    .text {
      @include text-style($text-dandan-subtitle);
      font-size: 24px;
      line-height: 1.2;
      font-weight: 500;
      
      color: $color-white;
      -webkit-text-stroke: 1px $color-gray-800;

      .highlight {
        color: #FFC845;
        -webkit-text-stroke: 1px $color-gray-800;
      }
    }
  }

  &__button {
    margin-top: auto;
    padding-bottom: 50px;
    z-index: 2;

    button {
      width: 300px;
      height: 45px;
      border-radius: 12px;
      background-color: $color-blue-middle;
      border: none;
      cursor: pointer;

      @extend %align-row-center;

      @include text-style($text-dandan-subtitle);
      font-size: 18px;
      color: $color-white;

      transition: transform 0.1s;
      &:active {
        transform: scale(0.98);
      }
    }
  }
}