@use './global/color.scss' as *;
@use './global/text-style.scss' as *;
@use './global/align.scss' as *;

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.others-home {
  width: 393px;
  height: 852px;
  position: relative;
  overflow: hidden;
  background-color: $color-background;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    position: relative;
    z-index: 10;
    
    margin-top: 338px; 
    text-align: center;
    width: 100%;

    .text {
      @include text-style($text-dandan-subtitle);
      font-size: 24px;
      line-height: 1.2;
      font-weight: 500;
      color: $color-white;
      -webkit-text-stroke: 1px $color-gray-800;

      .highlight {
        color: #FFC845;
        -webkit-text-stroke: 1px $color-gray-800;
      }
    }
  }

  &__button {
    position: relative;
    z-index: 10;
    margin-top: auto; 
    margin-bottom: 56px;

    button {
      width: 300px;
      height: 45px;
      border-radius: 12px;
      background-color: $color-blue-middle;
      border: none;
      cursor: pointer;

      @extend %align-row-center;
      @include text-style($text-dandan-subtitle);
      font-size: 18px;
      color: $color-white;

      transition: transform 0.1s;
      &:active {
        transform: scale(0.98);
      }
    }
  }
}