@use './global/color.scss' as *;
@use './global/text-style.scss' as *;
@use './global/align.scss' as *;

.selectTheme {
  background-color: $color-background;

  display: flex;
  flex-direction: column;
  align-items: center;


  &__content {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__preview {
    margin-top: 60px;
    
    border-radius: 20px;
    
    @extend %align-row-center;

    .selectLetter {
      width: 220px;
      height: 330px;
      svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 15px;
      }
    }
  }

  &__grid {
    width: 340px;
    height:50px;
    margin-top: 30px;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 
    
    justify-items: center;
  }

  &__item {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    
    -webkit-tap-highlight-color: transparent;

    .theme-icon {
      width: 48px;
      height: 48px;
      object-fit: contain;
      transition: transform 0.2s ease;
    }

    &--selected {
      .theme-icon {
        transform: scale(1.1); 
      }
    }
  }

  &__button {
    margin-top: 80px; 
    width: 100%;
    
    @extend %align-row-center;
  }
}